@font-face {
    font-family: "Gothic1";
    src: url(font/EnglishTowne.ttf);
}
@font-face {
    font-family: "Gothic2";
    src: url(font/CloisterBlack.ttf);
}

body{
    background-color: #0b0b0b;
    color: #f6f6f6;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
}

header{
    margin: 2em 0 5em 0;
}

header > div{
    text-align: center;
    margin: auto;
}

header img{
    max-width: 100%;
    width: 35%;
    margin: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f6f6f6;
    font-size: 0.8em;
    background-color: black;
    padding: 0.5em;    
}

footer > a{
    color: #f6f6f6;
    text-decoration: none;
    cursor: pointer;
    padding: 0 0.5em;
}

h1, h2, h3{
    text-align: center;
    font-family: "Gothic2";
}

h2{
    margin-bottom: 0;
}

.name_entry{
    text-align: center;
    max-width: 25em;
    margin: auto;
    background-color: #111111;
    box-shadow: 0 0 0 2px rgb(171, 177, 187), inset 0 10px 27px -8px #141414;
    border-radius: 2em;
    padding: 1em;
}


.input_container{
    width: 20em;
    height: auto;
    margin: 1em auto;
    padding: 0.2em;
    background-image: url("img/name_entry_bg.png");
    background-size: 26em;
    background-repeat: repeat;
    border: 0.2em groove #343434;
    border-radius: 1em;
}

input[type=text]{
    width:100%;
    font-family: "Gothic1";
    font-size: 2.5em;
    text-align: center;
    color: #0b0b08;
    font-stretch: extra-expanded;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #747374;
    background: transparent;
    border-style: none;
}

input[type=text]:focus{
    outline:none
}

#generate_btn{
    cursor: pointer;
}

#output_area{
    margin: 5em 0;    
}

#output_area > h2{
    font-size: 1.8em;
    margin: 2em 0 0.5em 0;
    text-shadow: 2px 2px 0 #111111;
}

.quest_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 1em auto;
    background-color: #111111;
    box-shadow: 0 0 0 2px rgb(171, 177, 187), inset 0 10px 27px -8px #141414;
    border-radius: 1em;
}

.password_container{
    flex-basis: 15%;
    text-align: center;
    font-family: "Gothic";
    font-size: 1.2em;
    margin: 1em;    
}

.password{
    border: 1px solid white;
    min-width: 140px;
    min-height: 140px;
    margin: auto;
}

.password td{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    width:30px;
    height:30px;
    border: 1px solid white;
    padding: 5px;
}

.password td>img{
    margin:0;
    display:block;
}

.modal{
    position: fixed;
    z-index: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 35%;
    height: auto;
    overflow: auto;
    background: #111111;
    color: #f6f6f6;
    padding: 1em;
    border: 2px solid #f6f6f6;
}

.modal_content{
    float: right;
    margin: 0 1em 1em 1em;
}

.modal>.close{
    float: right;
    padding: 2px 5px;
    cursor:pointer;
    font-size: 1.8em;
    font-weight: bold;
    /*position: absolute;
    top: 5%;
    right: 5%;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;*/
}

.modal>.close:hover{
    background-color: #747374;
}

.modal a{
    color: white;
}


@media only screen and (max-width: 600px){
    header img{
        width: 80%;
    }
    
    .name_entry{
        min-width: 90%;
    }

    .input_container{
        width: 90%;
    }

    .modal{
        width: 75%;
        height: 75%;
        overflow-y: hidden;
    }

    .modal_content{
        height: 100%;
        max-width: 95%;
        overflow-y: auto;
        font-size: 0.9em;
    }
}